.CustomCheckbox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5em;
  align-items: center;
  font-size: 1.8rem;
  padding: 0.8em;
  cursor: pointer;
}

.CustomCheckbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.CustomCheckbox__input {
  display: grid;
  grid-template-areas: 'checkbox';
}

.CustomCheckbox__input > * {
  grid-area: checkbox;
}

.CustomCheckbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  background-color: #e0e0e0;
  place-content: center;
  place-items: center;
}

.CustomCheckbox__checkmark {
  width: 90%;
  height: 90%;
  color: var(--green);
  transition: transform 0.1s ease-in 1ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.CustomCheckbox__input
  input:checked
  + .CustomCheckbox__control
  .CustomCheckbox__checkmark {
  transform: scale(1);
}

.CustomCheckbox__input input:focus + .CustomCheckbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em #b8b8b8;
}
