.IconButton {
  border: 0;
  padding: 0.3em;
  background: none;
  line-height: 1;
  cursor: pointer;
  transition: transform 0.1s linear;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IconButton:hover,
.IconButton:focus {
  transform: scale(1.05);
  opacity: 1;
}

.IconButton:focus {
  outline: none;
}

.IconButton:active {
  transform: scale(1.1);
}

.IconButton > * {
  height: auto;
}

.IconButton--sm > * {
  width: 0.5em;
}

.IconButton--md > * {
  width: 1em;
}

.IconButton--lg > * {
  width: 1.5em;
}

.IconButton--hasBackground {
  background: #dddddd;
}

.IconButton--hasBackground:hover {
  background: #cccccc;
}
