:root {
  --dark-text-color: #4b4b4b;
  --red: #e53855;
  --yellow: #ffb017;
  --green: #44ab96;
  --blue: #4484ab;
  --orange: #da774a;
  --left-col-width-lg: 400px;
  --left-col-width-md: 300px;
  --left-col-width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 55%;
}

@media (min-width: 500px) {
  html {
    font-size: 62.5%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-text-color);
  line-height: 1.6;
  font-size: 1.8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.4rem;
}
