.LineItemButtons {
  display: flex;
}

@media (min-width: 750px) {
  .ProjectListItem .LineItemButtons {
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .ProjectListItem .LineItemButtons {
    flex-direction: row;
  }
}

.TaskListItem .LineItemButtons {
  padding: 0.8em 0.8em 0.8em 0;
}

.LineItemButtons > * {
  opacity: 0.5;
}

@media (hover: hover) {
  .LineItemButtons > * {
    opacity: 0;
  }

  :hover > .LineItemButtons > *,
  :focus > .LineItemButtons > * {
    opacity: 1;
  }
}
